@import './scss/normalize';
@import './scss/variables';

* {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2d2d32;
    margin: 0;
    padding: 0;
    background-color: $app-background-color;
}
