@import '../../scss/base';
@import '../../scss/format';

.content {
  @extend .card;
  @extend .flexcol;
  justify-content: center;
  padding-bottom: 30px;
  margin-top: 50px;
  max-width: 350px;

  h1 {
    margin-bottom: 5px;
  }

  p {
    margin-top: 0;
  }

  img {
    width: 193px;
    height: 48px;
  }
}

.stravaConnect {
  @extend .flexcol;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  outline: none;
}

.error {
  @extend .flexcol;
  color: maroon;
  margin-top: 30px;
}

@media screen and (min-width: $ipad-breakpoint) {
  .card {
    max-width: 400px;
    width: 90%;
  }
}
