@import '../../../scss/base';
@import '../../../scss/format';
@import '../../../scss/variables';

.Card {
  @extend .card;
  @extend .flexcol;
  margin-top: 40px;
  padding-top: 0;
}

.Main {
  @extend .flexcoltorow;
  width: 100%;
}
