@import '../../../scss/base';
@import '../../../scss/format';
@import '../../../scss/variables';

.card {
  @extend .card;
  @extend .flexcol;
  margin-top: 40px;
  padding-top: 0;
}

.main {
  @extend .flexcoltorow;
  justify-content: center;
  width: 90%;
  margin-bottom: 20px;
}
