@import '../../../scss/base';
@import '../../../scss/format';
@import '../../../scss/variables';

.Content {
  @extend .flexcol;
  padding-top: 40px;
  width: 100%;
}

.Avatar {
  border-radius: 50%;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.16);
  transform: translate(0, -50%);
  height: 60px;
  width: 60px;
  position: absolute;
}
