@import '../../../../scss/base';
@import '../../../../scss/format';
@import '../../../../scss/variables';

.Content {
  @extend .flexrow;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  border: 1px dashed $strava-orange;

  div {
    width: 100%;
    text-align: center;
    border: 1px dashed $strava-orange;
  }
}
