@import '../../../../scss/base';
@import '../../../../scss/format';
@import '../../../../scss/variables';

.content {
  @extend .flexrow;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.month {
  @extend .flexrow;
  // position: absolute;
  // left: 50%;
  // transform: translateX(-50%);
  p {
    min-width: 150px;
    text-align: center;
  }
}

@media screen and (min-width: $ipad-breakpoint) {
  .content {
    justify-content: flex-end;
  }

  .month {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    p {
      font-size: 22px;
      min-width: 210px;
    }
  }
}
