@import '../../../../scss/base';
@import '../../../../scss/format';
@import '../../../../scss/variables';

.content {
  @extend .flexrow;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 10px 0;
}

.month {
  @extend .flexrow;
  p {
    margin: 0;
    min-width: 140px;
    text-align: center;
  }
}

@media screen and (min-width: $ipad-breakpoint) {
  .content {
    justify-content: flex-end;
  }

  .month {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    p {
      font-size: 22px;
      min-width: 210px;
    }
  }
}
