@import '../../../../../../scss/base';
@import '../../../../../../scss/format';
@import '../../../../../../scss/variables';
@import '../../../../../../scss/animations';

.donutSegment {
	fill: $card-color;
	stroke-width: 8;
	&:hover {
		stroke-width: 9;
	}
}

.animated {
	stroke: $card-color;
	stroke-width: 9;
	animation: piechart 1s linear;
}

.run {
	stroke: $run-color;
	&:hover {
		stroke: $run-color-darken;
	}
}

.ride {
	stroke: $ride-color;
	&:hover {
		stroke: $ride-color-darken;
	}
}

.swim {
	stroke: $swim-color;
	&:hover {
		stroke: $swim-color-darken;
	}
}
