@import '../../../scss/base';
@import '../../../scss/format';
@import '../../../scss/variables';

.card {
  @extend .card;
  @extend .flexcol;
  margin-top: 40px;
  padding-top: 0;
  height: 400px;
}

.calendar {
  @extend .flexcol;
  width: 310px;
  height: 310px;
  margin-top: 20px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
  width: 100%;
  border: 1px dashed $strava-orange;
}

@media screen and (min-width: $ipad-breakpoint) {
  .card {
    min-width: 730px;
    max-width: 900px;
    width: 90%;
  }
  .calendar {
    min-width: 730px;
    max-width: 900px;
    width: 97%;
  }
}
