@import '../../../scss/variables';

.Button {
  background-color: $strava-orange;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  width: 70px;
  height: 75%;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  padding: 5px 5px;
}

.Button:focus {
  outline:0;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Filter {
  background-color: $app-background-color;
  color: $strava-orange;
  width: 50px;
  font-size: 8pt;

  &.Active {
    background-color: $strava-orange;
    color: white;
  }
}
