@import '../../../../scss/base';
@import '../../../../scss/format';
@import '../../../../scss/variables';

.content {
  @extend .flexcol;
  align-self: flex-end;
  margin-bottom: 38px;
  height: 210px;
  justify-content: space-between;
}

.bar {
  background-color: grey;
  width: 1px;
  height: 60px;
}

.barEnd {
  background-color: grey;
  width: 20px;
  height: 1px;
}

.barWrapper {
  @extend .flexcol;
}

.text {
  color: grey;
  transform: rotate(-90deg);
  font-size: 8pt;
  white-space: nowrap;
}
