@import '../../../../scss/base';
@import '../../../../scss/format';
@import '../../../../scss/variables';

.content {
  @extend .flexcol;
  justify-content: center;
  align-items: center;
  padding: 3px;
  color: #666;
  font-size: .6rem;
  border: 1px solid lightgrey;

  div {
    width: 25px;
    height: 25px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hideDay {
  display: none;
}

.today {
  color: $strava-orange-light;
}

.Run {
  background-image: $run-icon-url;
}

.Ride {
  background-image: $ride-icon-url;
}

.Swim {
  background-image: $swim-icon-url;
}

.WeightTraining {
  background-image: $weights-icon-url;
}

@media screen and (min-width: $ipad-breakpoint) {
  .content {
    justify-content: flex-start;
    width: 100%;
    height: 120px;
    p {
      font-size: 15px;
      margin: 0;
      align-self: flex-start;
    }
    div {
      margin-top: 20px;
      width: 40px;
      height: 40px;
    }
  }
  .hideDay {
    display: block;
  }
}
