@import '../../../../scss/base';
@import '../../../../scss/format';
@import '../../../../scss/variables';

.content {
  @extend .flexcol;
  justify-content: center;
  padding: 3px;
  color: #666;
  font-size: .7rem;
  border: 1px solid lightgrey;
}

@media screen and (min-width: $ipad-breakpoint) {
  .content {
    justify-content: flex-start;
    width: 100%;
    height: 120px;
    p {
      font-size: 15px;
      margin: 0;
      align-self: flex-start;
    }
  }

}
