@import '../../../../scss/base';
@import '../../../../scss/format';
@import '../../../../scss/variables';

.Content {
  @extend .flexcol;
  justify-content: center;
  padding: 3px;
  color: #666;
  font-size: .7rem;
  border: 1px dashed $strava-orange;
}
