@import './variables';

.flexcol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexcoltorow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: $ipad-breakpoint) {
  .flexcoltorow {
    flex-direction: row;
  }
}
