@import '../../../scss/base';
@import '../../../scss/format';
@import '../../../scss/variables';

.card {
  @extend .card;
  @extend .flexcoltorow;
  margin: 60px 0 0 0;
  padding-top: 0;
}

.content {
  @extend .flexcoltorow;
  padding-top: 40px;
  width: 100%;
}

.stats {
  @extend .flexcol;
}

.avatar {
  border-radius: 50%;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.16);
  transform: translate(0, -50%);
  height: 60px;
  width: 60px;
  position: absolute;
}


@media screen and (min-width: $ipad-breakpoint) {
  .avatar {
    transform: none;
    position: relative;
  }
  .card {
    padding: 0 30px;
    width: 60%;
    min-width: 600px;
    max-width: 700px;
  }
  .content {
    padding-top: 0;
    justify-content: space-between;
    h3 {
      font-size: 20pt;
      padding-left: 20px;
    }
  }
  .stats {
    align-items: flex-end;
    p {
      margin: 3px 0;
    }
  }
}
