@import '../../../scss/base';
@import '../../../scss/format';
@import '../../../scss/variables';

.Card {
  @extend .card;
  @extend .flexcol;
  margin-top: 40px;
  padding-top: 0;
  height: 400px;
}

.Calendar {
  @extend .flexcol;
  width: 320px;
  height: 320px;
  border: 1px dashed $strava-orange;
}

.Days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
  width: 100%;
  border: 1px dashed $strava-orange;
}
