@import '../../../scss/variables';

.topbar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: $card-color;
  padding: 0 10px;
  z-index: 1000;
  border-bottom: 1px solid #e6e6eb;
}

.poweredLogo {
  width: 120px;
  height: 50px;
}
