@import '../../../scss/variables';

.button {
  background-color: $strava-orange;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
  border-radius: 3px;

  &:disabled {
    color: #ccc;
    cursor: not-allowed;
  }

  &:focus {
    outline:0;
  }

  &:hover {
    background-color: $strava-orange-hover;
  }
}

.filter {
  background-color: $app-background-color;
  color: $strava-organge-light;
  width: 100%;
  font-size: 8pt;

  &:hover {
    background-color: $app-background-hover;
  }

  &.active {
    background-color: $strava-organge-light;
    color: white;
  }
  &.active:hover {
    background-color: $strava-orange-light-hover;
  }
}

.run {
  @extend .filter;
  background-color: $app-background-color;
  color: $run-color-darken;

  &:hover {
    background-color: $app-background-hover;
  }

  &.active {
    background-color: $run-color-darken;
    color: white;
  }
  &.active:hover {
    background-color: $run-color;
  }
}

.ride {
  @extend .filter;
  background-color: $app-background-color;
  color: $ride-color-darken;

  &:hover {
    background-color: $app-background-hover;
  }

  &.active {
    background-color: $ride-color-darken;
    color: white;
  }
  &.active:hover {
    background-color: $ride-color;
  }
}

.swim {
  @extend .filter;
  background-color: $app-background-color;
  color: $swim-color-darken;

  &:hover {
    background-color: $app-background-hover;
  }

  &.active {
    background-color: $swim-color-darken;
    color: white;
  }
  &.active:hover {
    background-color: $swim-color;
  }
}

@media screen and (min-width: $ipad-breakpoint) {
  .filter {
    font-size: 10pt;
    margin: 0 3px;
    border-radius: 3px;
  }
}
