@import '../../scss/base';
@import '../../scss/format';

.Content {
  @extend .card;
  @extend .flexcol;
  
}

.StravaConnect {
  cursor: pointer;
  border: none;
  width: 193px;
  height: 48px;
  background: url('../../assets/btn_strava_connectwith_orange.png') no-repeat;
}
