@import '../../scss/base';
@import '../../scss/format';

.content {
  @extend .card;
  @extend .flexcol;
  justify-content: center;
  padding-bottom: 30px;
  margin-top: 50px;
  max-width: 350px;

  h1 {
    margin-bottom: 5px;
  }

  p {
    margin-top: 0;
  }
}

.stravaConnect {
  cursor: pointer;
  border: none;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 193px;
  height: 48px;
  outline: none;
  background: url('../../assets/btn_strava_connectwith_orange.png') no-repeat;
}

@media screen and (min-width: $ipad-breakpoint) {
  .card {
    max-width: 400px;
    width: 90%;
  }
}
