@import '../../../../scss/base';
@import '../../../../scss/format';
@import '../../../../scss/variables';

.content {
  @extend .flexcol;
  width: 240px;
  margin-top: 20px;
}

.title {
  margin-bottom: 0;
}
