@import '../../../../scss/base';
@import '../../../../scss/format';
@import '../../../../scss/variables';

.content {
  @extend .flexcol;
  width: 100%;
  margin-top: 20px;
  max-width: 350px;
}

.title {
  margin-bottom: 0;
}
