@import '../../../../../scss/base';
@import '../../../../../scss/format';
@import '../../../../../scss/variables';

.Content {
  @extend .flexrow;
  height: 200px;
  width: 100%;
  border: 1px dashed $strava-orange;
}
