@import '../../../../../scss/base';
@import '../../../../../scss/format';
@import '../../../../../scss/variables';

.content {
  @extend .flexrow;
  height: 250px;
  width: 220px;
  padding: 0 15px;
}

.category {
  @extend .flexcol;
  justify-content: flex-end;
  height: 100%;
  width: 100%;

  p {
    font-size: 10pt;
    margin-top: 5px;
  }
}
