@import '../../../../../../scss/base';
@import '../../../../../../scss/format';
@import '../../../../../../scss/variables';

[class*="value"] {
  border-radius: 5px 5px 0 0;
  transition: all .6s ease;
  background-color: #ff4136;
  grid-row-start: 1;
  grid-row-end: 101;
}

.run {
  background-color: $run-color;
}

.ride {
  background-color: $ride-color;
}

.swim {
  background-color: $swim-color;
}

$totalRows: 101;

@mixin chartValue($data) {
  $result: $totalRows - $data;
  grid-row-start: $result;
}

@for $i from 1 through $totalRows {
  .value-#{$i} {
    @include chartValue($i);
  }
}
