@keyframes bars {
  0% {height:0;}
}

@keyframes piechart {
	0% {stroke-dasharray: 100 0;}
  100% {stroke-dasharray: 0 100;}
}

@keyframes piechartHover {
	0% {stroke-width: 4;}
  100% {stroke-width: 6;}
}
