@import './variables';

.card {
  background-color: $card-color;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
  margin: 10px 10px;
  padding: 5px 0;
  width: 310px;
  max-width: 1000px;
}

@media screen and (min-width: $ipad-breakpoint) {
  .card {
    width: 85%;
  }
}
