$app-background-color: #f5f5fa;
$app-background-hover: #ececec;

$card-color: #ffffff;

$strava-orange: #fc4c02;
$strava-orange-hover: #ff4b00de;
$strava-organge-light: #ff9365;
$strava-orange-light-hover: #ffa47e;

$run-color: #BDD6BA;
$run-color-darken: #a7caa3;
$ride-color: #DFD7E9;
$ride-color-darken: #d1c6de;
$swim-color: #ACD2E4;
$swim-color-darken: #93c3da;

$ipad-breakpoint: 768px;
