$app-background-color: #f5f5fa;
$app-background-hover: #ececec;
$card-color: #ffffff;
$strava-orange: #fc4c02;
$strava-orange-hover: #ff4b00de;
$run-color: #BDD6BA;
$ride-color: #DFD7E9;
$swim-color: #ACD2E4;
$ipad-breakpoint: 768px;
